body {
}

.floor {
    height: 50px;
}
.active {
    color:yellow;
}
.floor-panel { 
    background-color: red;
}
.floor-panel-control {
    display: block;
    clear: both;
}
.floor-panel-label {
    float: left;
}
.floor-panel ul li {
    list-style: none;
    float: left;
}


.elevator-cart { background-color: blue;}

.elevator-panel {background-color: yellow;}


/*#elevator-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d2;
}

#floor-panel {
    background-color: lightgreen;
    width: 300px
}

#elevator-cart{
    width:50px;
    background-color: lightpink;
}

#elevator-panel{
    width: 300px;
    background-color: lightblue;

}

.flex{
    height:600px;
    display:flex;
}


*/

